<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <ul class="text-left">
          <li>{{ site.time | date: '%Y' }} <span>Baseado no template do</span></li>
          <li><a href="https://services.github.com/kit/">Github</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <a href="/"><span class="mega-octicon octicon-mark-github"></span></a>
      </div>

      <div class="col-md-5">
        <ul class="text-right">
          <li>Feito com <3 por <a href="https://twitter.com/maluta">@maluta</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
