<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <ul class="text-left">
          <li>&copy; {{ site.time | date: '%Y' }} <span>Baseado no template do </span><a href="https://services.github.com/kit/">Github</a><span> e nos vídeos da <a href="http://pt.khanacademy.org">Khan Academy</a></span></li>
        </ul>
      </div>

      <div class="col-md-2">

      </div>

      <div class="col-md-5">
        <ul class="text-right">
          <li>Feito com ❤ por <a href="https://twitter.com/maluta">@maluta</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
