<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <ul class="text-left">
          <li>&copy; {{ site.time | date: '%Y' }} <span>Studio Maluta</span></li>
          <li><a href="https://github.com/site/terms">(Baseado no template)</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <a href="/"><span class="mega-octicon octicon-mark-github"></span></a>
      </div>

      <div class="col-md-5">
        <ul class="text-right">
          <li><a href="https://twitter.com/maluta"><span class="octicon octicon-mark-twitter"></span>@maluta</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
